* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
  }
  html,
  body {
    width: 100%;
    height: 100%;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #4158d0;
    background-image: linear-gradient(
      43deg,
      #4158d0 0%,
      #c850c0 46%,
      #ffcc70 100%
    );
  }
  .main {
    height: 280px;
    width: 440px;
    background-color: peachpuff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
    border-radius: 15px;
  }
  .main textarea {
    outline: none;
    font-size: 1.1rem;
    border: none;
    resize: none;
    width: 80%;
    padding: 10px;
  }
  .counter {
    height: 16%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  }
  @media (max-width: 500px) {
    .main {
      height: 350;
    }
}